@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}
/* 
.hidden {
  display: none;
} */

.ct-topmenu-expanded {
  display: block;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.ct-active {
  @apply text-yellow-400
}

/* plugins: [ require("tailwind-fontawesome")]; */
