@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

/* plugins: [ require("tailwind-fontawesome")]; */
